Django==2.2.24
waitress
gunicorn
setuptools
django-bootstrap3==12.1.0
reportlab
psycopg2
boto3
django-storages
python-decouple
django-cleanup
django-heroku
selenium
chromedriver_installer --install-option="--chromedriver-version=2.10" 
fake-useragent
