{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "View Schedule" %}
{% endblock title %}

{% block additional_css %}
<link type="text/css" rel="stylesheet" href="{% static "css/schedules/view-schedule.css" %}" media="screen"/>
{% endblock additional_css %}

{% block additional_js %}
<script src="{% static "js/schedules/view-template.js" %}"></script>
{% endblock additional_js %}

{% block content %}
	{% bootstrap_icon "edit" as glyphicon_edit %}
	{% bootstrap_icon "plus" as glyphicon_plus %}
	{% bootstrap_icon "chevron-right" as glyphicon_chevron_right %}
	{% bootstrap_icon "info-sign" as glyphicon_info_sign %}
	
	<div class="hidden remove-me">
		<modal-content id="add-class">
			<modal-head>
				<div class="modal-title">
					{% trans "Add class" %}
				</div>
			</modal-head>

			<form class="modal-form" id="add-class-modal-form" action="/schedules/add_template_class" method="POST">				
			<modal-body>
				{% csrf_token %}
				<input type="hidden" id="add-class-school-period-id" name="school_period_id" value="0"/>
				<input type="hidden" id="weekday-number" name="weekday" value="0"/>
				<div class="form-group">
					<label class="control-label">{% trans "Section" %}</label>
					<select name="section" 
						required="" 
						class="form-control"
						title="">
						<option value="0">N/A</option>
						{% for section in all_sections %}
						<option value="{{ section.id }}">
							{% if section.school_section__is_special_needs %}{% trans "Special Needs" %}{% else %}{{ section.school_section__year_level }}{% endif %}-{{ section.section_name }} 
						</option>
						{% endfor %}
					</select>
				</div>
			</modal-body>

			<modal-footer>
				
			</modal-footer>
			</form>
		</modal-content>
		<modal-content id="edit-class">
			<modal-head>
				<div class="modal-title">
					{% trans "Edit class" %}
				</div>
			</modal-head>

			<form class="modal-form" id="edit-class-modal-form" action="/schedules/edit_template_class" method="POST">				
			<modal-body>
				{% csrf_token %}
				<input type="hidden" id="edit-template-section-period-id" name="template_section_period_id" value="0"/>
				<div class="form-group">
					<label class="control-label">{% trans "Section" %}</label>
					<select id="edit-template-section-select"
						name="section_id" 
						required="" 
						class="form-control"
						title="">
						<option value="0">N/A</option>
						{% for section in all_sections %}
						<option value="{{ section.id }}">
							{% if section.school_section__is_special_needs %}{% trans "Special Needs" %}{% else %}{{ section.school_section__year_level }}{% endif %}-{{ section.section_name }} 
						</option>
						{% endfor %}
					</select>
				</div>
			</modal-body>

			<modal-footer>
				
			</modal-footer>
			</form>
		</modal-content>
	</div>

	<div class="row">
		<div class="col-xs-12 page-header-left">
			{% trans "Weekly Schedule Template" %}
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 page-subheader-left">
			{{ school.name }}
		</div>
	</div>

	{% for day in all_days %}
	<div class="hidden remove-me">
		<modal-content id="edit-period-type-{{ day.template_period_type.id }}">
			<modal-head>
				{% trans "Edit Period Profile for" %} {{ day.weekday_name }}
			</modal-head>

			<form class="modal-form" action="/schedules/edit_template_period_profile"  method="POST">
			<modal-body>
				<div class="alert alert-warning">
					<strong>Warning:</strong> {% trans "Once the period profile has changed, the times will change as well, so all the old classes that were entered for the day will be deleted." %}
				</div>
				<br/>
				{% csrf_token %}
				<input type="hidden" name="id" value="{{ day.template_period_type.id }}"/>
				{% bootstrap_field day.edit_form.school_period_type %}
			</modal-body>

			<modal-footer>
				
			</modal-footer>
			</form>
		</modal-content>
	</div>
	<div class="row">
		<div class="col-sm-6 page-subheader-left">
			{{ day.weekday_name }}			
			<span class="default-profile-marker set-data-color" data-color="#{{ day.template_period_type.school_period_type.get_period_type_color }}">
				{{ day.template_period_type.school_period_type.period_name }}
			</span>
		</div>
		<div class="col-sm-6 page-subheader-right">
			<button 
				type="button" 
				class="btn btn-primary"
				data-toggle="modal" 
				data-target="#edit-period-type-{{ day.template_period_type.id }}" 
				name="edit-period-profile-entry-button">
					{{ glyphicon_edit }} {% trans "Edit Period Profile" %}
			</button>
		</div>
	</div>
	<div class="row">
		<table class="table table-hover padding-5 margin-top-5">
			<tr>
				<th class="col-xs-2">{% trans "Time Period" %}</th>
				<th class="col-xs-2">{% trans "Section" %}</th>
				<th class="col-xs-2 hidden-xs">{% trans "Teacher" %}</th>
				<th class="col-xs-6 page-subheader-right">{% trans "Actions" %}</th>
			</tr>
			{% for period in day.school_periods %}
			<tr>
				<td>
					<strong>{{ period.period_number }}</strong> 
					<p class="hidden-xs">({{ period.start_time|time:'H:i' }} ~ {{ period.end_time|time:'H:i' }})</p>
				</td>
				{% if period.section_info %}
				<td>
					{% with period.section_info.section.school_section.is_special_needs as is_special_needs %}
					{% with period.section_info.section.school_section.year_level as year_level %}
					{% with period.section_info.section.section_name as section_name %}
						{% include "section-name-base.html" %}
					{% endwith %}
					{% endwith %}
					{% endwith %}
				</td>
				<td class="hidden-xs">
					{% if period.section_info.section.teacher_name %}
						{{ period.section_info.section.teacher_name }}
					{% else %}
						<i>N/A</i>
					{% endif %}
				</td>
				<td class="page-subheader-right">
					<button class="btn btn-tertiary ajax-button delete-class-button"
							data-url="/schedules/delete_template_class/{{ period.section_info.id }}">{% bootstrap_icon "trash" %} {% trans "Delete" %}</button>
					<button class="btn btn-secondary edit-class-button"
						data-title="{% trans 'Edit Class' %}"
						data-template-section-period-id="{{ period.section_info.id }}"
						data-section="{{ period.section_info.section.id }}"
						data-toggle="modal" 
						data-target="#edit-class">
						{{ glyphicon_edit }} {% trans "Edit" %}
					</button>
				</td>
				{% else %}
				<td colspan="2" class="hidden-xs">
					<div class="center-align">
						<i>{% trans "No class scheduled." %}</i>
					</div>
				</td>
				<td class="visible-xs">
					<div class="center-align">
						<i>{% trans "No class scheduled." %}</i>
					</div>
				</td>
				<td class="page-subheader-right">
					<button class="btn btn-secondary add-class-button"
						data-title="{% trans 'Add Class' %}"
						data-school-period-id="{{ period.id }}"
						data-toggle="modal" 
						data-weekday="{{ day.template_period_type.weekday }}"
						data-target="#add-class">
						{{ glyphicon_plus }} {% trans "Add Class" %}
					</button>
				</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endfor %}
{% endblock content %}