{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% bootstrap_icon "download" as glyphicon_download %}
{% bootstrap_icon "info-sign" as glyphicon_info_sign %}
{% bootstrap_icon "pencil" as glyphicon_pencil %}

<table class="table table-hover margin-top-5 flashcard-table">
	<tr>
		<th class="col-xs-2">{% trans "Name" %}</th>
		<th class="col-xs-1 hidden-xs">{% trans "Orientation" %}</th>
		<th class="col-xs-2 hidden-xs">{% trans "Layout" %}</th>
		<th>{% trans "Notes" %}</th>
		<th class="col-xs-5 page-subsubheader-right">{% trans "Actions" %}</th>
	</tr>
	{% for flashcard_lesson in flashcard_lessons %}
	<tr>
		<td>
			{{ flashcard_lesson.flashcard.label }}<br/>
			{% if display_lesson_information %}
				<span class="small text-muted">({{ flashcard_lesson.lesson }})</span>
			{% endif %}
			<div class="hidden remove-me">
				<modal-content id="edit-flashcard-{{ flashcard_lesson.flashcard.id }}">
					<modal-head>
						{% trans "Edit Flashcard" %}
					</modal-head>

					<form class="modal-form" action="{% url 'lessons:edit_flashcard' %}" method="POST">
					<modal-body>
						{% csrf_token %}
						<div class="row">
							<div class="col-xs-12 vertical-center">
								{% static %}/{{ flashcard_lesson.flashcard.picture }}
								No preview image.
							</div>
						</div>
						<input type="hidden" name="flashcard_id" value="{{ flashcard_lesson.flashcard.id }}" />
						{% bootstrap_field flashcard_lesson.flashcard.edit_flashcard_form.label addon_after=glyphicon_pencil placeholder="Baskbetball" %}
						{% bootstrap_field flashcard_lesson.flashcard.edit_flashcard_form.notes addon_after=glyphicon_pencil placeholder="Sports" %}
						{% bootstrap_field flashcard_lesson.flashcard.edit_flashcard_form.flashcard_type %}
						{% bootstrap_field flashcard_lesson.flashcard.edit_flashcard_form.orientation %}
						<div class="form-group">
							<label class="control-label" for="id_is_bordered">
								{% trans "Flashcard Border" %}
							</label><br/>
							{{ flashcard_lesson.flashcard.edit_flashcard_form.is_bordered }}
						</div>
					</modal-body>

					<modal-footer>
						
					</modal-footer>
					</form>
				</modal-content>
			</div>
		</td>
		<td class="hidden-xs">
		{{ flashcard_lesson.flashcard.get_readable_orientation }}
		</td>
		<td class="font-size-090 hidden-xs">{{ flashcard_lesson.flashcard.get_readable_layout }}</td>
		<td>{{ flashcard_lesson.flashcard.notes }}</td>
		<td class="page-subsubheader-right">
			<a href="/lessons/delete_flashcard/{{ flashcard_lesson.lesson.id }}/{{ flashcard_lesson.flashcard.id }}">
				<button type="button" class="btn btn-tertiary delete-flashcard-button">
					{% bootstrap_icon "trash" %} {% trans "Delete" %}
				</button>
			</a>
			<a href="/lessons/download_flashcard/{{ flashcard_lesson.flashcard.id }}">
				<button type="button" class="btn btn-secondary download-flashcard-button">
					{{ glyphicon_download }} {% trans "Download" %}
				</button>
			</a>

			<button type="button" 
				class="btn btn-primary edit-flashcard-button"
				data-toggle="modal"
				data-flashcard-id="{{ flashcard_lesson.flashcard.id }}"
				data-target="#edit-flashcard-{{ flashcard_lesson.flashcard.id }}">
					{% bootstrap_icon "edit" %} {% trans "Edit" %}
			</button>
		</td>	
	</tr>
	{% endfor %}
</table>