{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Generic Activities" %}
{% endblock title %}

{% block additional_css %}
<link type="text/css" rel="stylesheet" href="{% static "css/lessons/courses.css" %}" media="screen"/>
{% endblock additional_css %}

{% block content %}
	{% include "lessons/add-course-modal.html" %}
	{% bootstrap_icon "plus" as glyphicon_plus %}
	{% bootstrap_icon "pencil" as glyphicon_pencil %}
	{% bootstrap_icon "chevron-right" as glyphicon_chevron_right %}
	{% bootstrap_icon "info-sign" as glyphicon_info_sign %}

	<div class="row">
		<div class="col-sm-9 page-header-left">{% trans "Generic Activities" %}</div>
		<div class="col-sm-3 page-header-right">
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-generic-activity" name="add-generic-activity">
				{{ glyphicon_plus }} {% trans "Add" %}
			</button>
		</div>
	</div>
	{% if all_activities %}
		{% for activity_portion, activities in all_activities.items %}
			<div class="row">
				<div class="col-xs-12 page-subheader-left">
					{{ activity_portion }} {% trans "Activities" %}
				</div>
			</div>
			{% include "lessons/view-activity-table.html" %}
		{% endfor %}
	{% else %}
		<div class="row">
			<div class="col-sm-12 center-align">
				{% trans 'There are no activities available. <br/> Would you like to <a class="cursor-pointer" data-toggle="modal" data-target="#add-generic-activity">add a new activity?</a>' %}
			</div>
		</div>
	{% endif %}
	<div class="hidden remove-me">
		<modal-content id="add-generic-activity">
			<modal-head>
				{% trans "Add Generic Activity" %}
			</modal-head>

			<form class="modal-form" action="{% url 'lessons:add_generic_activity' %}" method="POST">
			<modal-body>
				{% csrf_token %}
				{% bootstrap_field add_activity_form.activity_name addon_after=glyphicon_pencil placeholder="Hello Song" %}
				{% bootstrap_field add_activity_form.description addon_after=glyphicon_pencil placeholder="Hello, Hello, Hello, How are you?&#10;I'm fine, I'm fine, I'm fine, thank you, and you?" %}
				{% bootstrap_field add_activity_form.activity_portion_type %}
				{% bootstrap_field add_activity_form.materials addon_after=glyphicon_pencil placeholder="Ohajiki marbles, a small plush doll" %}
			</modal-body>

			<modal-footer>
				
			</modal-footer>
			</form>
		</modal-content>
	</div>
{% endblock content %}