{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% bootstrap_icon "plus" as glyphicon_plus %}
{% bootstrap_icon "download" as glyphicon_download %}
{% bootstrap_icon "info-sign" as glyphicon_info_sign %}
{% bootstrap_icon "pencil" as glyphicon_pencil %}

<div class="hidden remove-me">
	<modal-content id="add-target-language-{{ lesson.id }}">
		<modal-head>
			{% trans "Add Target Language" %}
		</modal-head>

		<form class="modal-form" action="{% url 'lessons:add_target_language' %}" method="POST" enctype="multipart/form-data">
		<modal-body>
			{% csrf_token %}
			<input type="hidden" name="lesson_id" value="{{ lesson.id }}" />
			<input type="hidden" name="course_id" value="{{ course.id }}" />
			{% bootstrap_field lesson.add_target_language_form.target_language addon_after=glyphicon_pencil placeholder="Where do you want to go?" %}
			{% bootstrap_field lesson.add_target_language_form.color %}
			{% bootstrap_field lesson.add_target_language_form.notes placeholder="Emphasize the accents on 'where' and 'you'" %}
		</modal-body>

		<modal-footer>
			
		</modal-footer>
		</form>
	</modal-content>
</div>
<br/>
<div class="row">
	<div class="col-sm-5 page-subsubheader-left">
		{% trans "Target Languages" %}
	</div>
	<div class="col-sm-7 page-subsubheader-right">
		{% if lesson.target_languages %}
		<a href="/lessons/download_all_target_languages/{{ lesson.id }}">
			<button 
				type="button" 
				name="download-all-target-languages"
				class="btn btn-secondary download-all">
					{{ glyphicon_download }} {% trans "Download All" %}
			</button>
		</a>		
		{% endif %}
		<button 
			type="button" 
			class="btn btn-primary" 
			data-toggle="modal" 
			data-target="#add-target-language-{{ lesson.id }}"
			data-lesson-id="{{ lesson.id }}">
				{{ glyphicon_plus }} {% trans "Add Target Language" %}
		</button>
	</div>
</div>
{% if lesson.target_languages %}
	{% with lesson.target_languages as target_languages %}
	{% include "lessons/target-language-table.html" %}
	{% endwith %}
{% else %}
<div class="row">
	<div class="col-sm-12 center-align">
		{% trans 'There are no target languages available for this lesson. <br/> Would you like to' %} <a class="cursor-pointer" data-toggle="modal" data-target="#add-target-language-{{ lesson.id }}">{% trans 'add a new target language?' %}</a>
	</div>
</div>
{% endif %}