{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% bootstrap_icon "plus" as glyphicon_plus %}
{% bootstrap_icon "download" as glyphicon_download %}
{% bootstrap_icon "info-sign" as glyphicon_info_sign %}
{% bootstrap_icon "pencil" as glyphicon_pencil %}

<div class="hidden remove-me">
	<modal-content id="add-flashcard-{{ lesson.id }}">
		<modal-head>
			{% trans "Add Flashcard" %}
		</modal-head>

		<form class="modal-form" action="{% url 'lessons:add_flashcard' %}" method="POST" enctype="multipart/form-data">
		<modal-body>
			{% csrf_token %}
			<div class="row">
				<div class="col-xs-12 vertical-center">
					<span id="loading-text">
						{% trans "Loading image..." %}
					</span>
					<img class="add-flashcard-preview-image flashcard-preview-image" src="{% static 'images/no-preview-image.png' %}" data-original-src="{% static 'images/no-preview-image.png' %}" alt="No preview image">
				</div>
			</div>
			<input type="hidden" name="lesson_id" value="{{ lesson.id }}" />
			<input type="hidden" name="course_id" value="{{ course.id }}" />
			{% bootstrap_field lesson.add_flashcard_form.picture %}
			{% bootstrap_field lesson.add_flashcard_form.label addon_after=glyphicon_pencil placeholder="Baskbetball" %}
			{% bootstrap_field lesson.add_flashcard_form.notes addon_after=glyphicon_pencil placeholder="Sports" %}
			{% bootstrap_field lesson.add_flashcard_form.flashcard_type %}
			{% bootstrap_field lesson.add_flashcard_form.orientation %}
			<div class="form-group">
				<label class="control-label" for="id_is_bordered">
					{% trans "Flashcard Border" %}
				</label><br/>
				{{ lesson.add_flashcard_form.is_bordered }}
			</div>
		</modal-body>

		<modal-footer>
			
		</modal-footer>
		</form>
	</modal-content>
</div>
<br/>
<div class="row">
	<div class="col-sm-5 page-subsubheader-left">
		{% trans "Flashcards" %}
	</div>
	<div class="col-sm-7 page-subsubheader-right">
		{% if lesson.existing_flashcard_dropdown %}
		<button 
			name="add-existing-flashcard"
			type="button" 
			class="btn btn-tertiary" 
			data-toggle="modal" 
			data-target="#add-existing-flashcard">
				{% bootstrap_icon "link" %} {% trans "Add Existing Flashcard" %}
		</button>
		{% endif %}
		{% if lesson.flashcard_lessons %}
		<a href="/lessons/download_all_flashcards/{{ lesson.id }}">
			<button 
				type="button" 
				name="download-all-flashcards"
				class="btn btn-secondary download-all">
					{{ glyphicon_download }} {% trans "Download All" %}
			</button>
		</a>		
		{% endif %}
		<button 
			type="button" 
			class="btn btn-primary" 
			data-toggle="modal" 
			data-target="#add-flashcard-{{ lesson.id }}"
			data-lesson-id="{{ lesson.id }}">
				{{ glyphicon_plus }} {% trans "Add Flashcard" %}
		</button>
	</div>
</div>
<div class="hidden remove-me">
	<modal-content id="add-existing-flashcard">
		<modal-head>
			{% trans "Add A Previously Uploaded Flashcard" %}
		</modal-head>

		<form class="modal-form" action="{% url 'lessons:add_existing_flashcard' %}" method="POST">
		<modal-body>
			{% csrf_token %}
			<input type="hidden" name="lesson_id" value="{{ lesson.id }}"/>

			<div class="form-group">
				<label class="control-label">Select Flashcard</label>
				<select id="flashcard_id" name="flashcard_id" required="" class="form-control">
					{% for flashcard in lesson.existing_flashcard_dropdown %}
					<option value="{{ flashcard.flashcard__id }}">
						{{ flashcard.flashcard__label }} ({{ flashcard.flashcard__notes }}; {{ flashcard.lesson__course__course_code }}, {% trans "Lesson" %} {{ flashcard.lesson__lesson_number }})
					</option>
					{% endfor %}
				</select>
			</div>
		</modal-body>

		<modal-footer>
			
		</modal-footer>
		</form>
	</modal-content>
</div>
{% if lesson.flashcard_lessons %}
	{% with lesson.flashcard_lessons as flashcard_lessons %}
	{% include "lessons/flashcard-table.html" %}
	{% endwith %}
{% else %}
<div class="row">
	<div class="col-sm-12 center-align">
		{% trans 'There are no flashcards available for this lesson. <br/> Would you like to' %} <a class="cursor-pointer" data-toggle="modal" data-target="#add-flashcard-{{ lesson.id }}">{% trans 'add a new flashcard?' %}</a>
	</div>
</div>
{% endif %}