{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}
{% load static %}

{% block title %}
{% trans "Lesson " %} {{ lesson.lesson_number }}
{% endblock title %}

{% block additional_css %}
<link type="text/css" rel="stylesheet" href="{% static "css/lessons/courses.css" %}" media="screen"/>
{% endblock additional_css %}

{% block additional_js %}
<script src="{% static "js/lessons/courses.js" %}"></script>
<script src="{% static "js/lessons/lesson-flashcards.js" %}"></script>
{% endblock additional_js %}

{% block content %}

{% include "lessons/add-course-modal.html" %}
{% include "lessons/lesson-header.html" %}
{% include "lessons/lesson-activities.html" %}
{% include "lessons/lesson-flashcards.html" %}
{% include "lessons/lesson-target-languages.html" %}

{% endblock content %}